.header {
  background-color: $very-pale-cyan;
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  margin-bottom:25px;

  @include desktop{
    background-image: url("../images/bg-hero-desktop.svg");
    padding-bottom: 4rem;

  }

  &__top{
    align-items: center;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 4rem;
    padding: 1.5rem 0;
    @include desktop {
      padding-top: 4%;
      margin-bottom: 2rem;

    }
  }

  &--logo{
      width: 30%;
      
      @include desktop {
        width: 15%;
      }

  }


}

// .header__info {
//   display: ;
// }

.header__main {
  text-align: center; 
  color: $very-dark-cyan;


  @include desktop {
    display: flex;
    align-items: center;
  }

  img{
    width: 90%;
    margin: 0 auto;

    @include desktop {
      margin: 0 0 0 auto;
      width: 55%;
    }
  }
  
  h1{
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    margin: 0 auto;
    width: 80%;

    @include desktop {
      font-size: 2.4rem;
      width: 75%;

    }

  }

  p {
    font-size: 1rem;
    margin: 1rem auto;
    width: 90%;
    line-height: 1.5;

    @include desktop {
      width: 80%;
      font-size: 1rem;
      color: black;
    }
  }

}

.header__info {
  @include desktop {
    margin-top: 5.5%;
    text-align: start;
    max-width: 45%;
    h1, p {
      margin-left: 0;
    }
  }
}

// .header--button {
//   @include desktop {
//     text-align: center;
//   }
// }
